html {
/*    font-size: 16px; /* taille à laquelle feront référence toutes les tailles rem */
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

/* HEADER */

header {
    position: sticky; /* on peut utiliser fixed, mais on est obligés d'ajouter un padding-top:100px dans le main */
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1;
 }

.logo {
    font-size: 2em;
    font-weight: 700;
    padding: 16px;
    background-color: #c80000;
}

.logo__desc {
    font-size: .8rem; /* rem prend pour référence la taille de l'élément racine (html);
    si on n'a pas défini de font-size pour html on prend la taille par default du navigateur */
}

.selection {
    background-color: #666;
    text-align: center;
    padding: .5em;
}

.selection__current {
    font-style: italic;
    font-size: 1.2em;
}

/* MAIN */

main {
    /*on lui donne une largeur et on la centre */
    max-width: 800px; /* max-width à la place de width rend le site responsive */
    margin: 1em auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }

.item {
    position: relative; /* pour pouvoir utiliser position sur'élément .item--sales, j'ai dû ajouter poisition: relative sur le parent .item */
    width: 250px;
    border: 1px solid #ccc;
    padding: .3em;
    margin: .3em;
    /* on ajoute une transition en douceur */
    transition: all .5s ease-in-out;
}

.item:hover {
    box-shadow: 1px 1px 5px #ccc;  /* on ajoute un petit effet au survol de la souris */
    /* box shadow: taille de l'ombre sur la droite (valeur positive) ou sur la gauche (valeur negative)
    - taille de l'ombre en bas (valeur positive) ou en haut (valeur negative)
    -étalement de l'ombre
    - couleur de l'ombre 
    - pour mettre l'ombrage à l'intérieur de la div, on place le mot inset avant les valeurs */
}

.item--sales {
    position: absolute; /* pour pouvoir utiliser position sur'élément, j'ai dû ajouter poisition: relative sur le parent .item */
    top: 10px;
    right: 10px;
    color: white;
    background: #666;
    width: 60px;
    height: 60px;
    border-radius: 50%; /* avec border-radius on peut dessiner un circle */
    border: 0.3em solid #ccc;
    padding: 17px 8px;
    font-weight: bold;
    text-align: center;
}

.item__image > img {
    display: block;
    width: 90%;
    margin: 10px auto;
    transition: all .5s ease-in-out;
    animation: rotateImg 2s infinite;
}

.item__image > img:hover {
    transform: scale(1.1);
}

.item__content__category{
    text-transform: uppercase;
    color: #ccc;
    font-weight: bold;
    font-size: 0.7em;
    border-bottom: 1px solid #ccc;
    padding: .3em;
    margin: .3em;
}

.item__content__name {
    font-weight: bold;
    font-size: 1.3em;
    margin: .5em 0;
    text-transform: capitalize;
}

.item__content__desc {
    font-size: .8em;
    line-height: 1.3em;
    margin: 0.5em 0;
}

.item__buy {
    background-color: #c80000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1em;
    margin-top: 1em;
    font-size: .9em;
    /* on ajoute une transition en douceur */
    transition: all .5s ease-in-out;
    box-shadow: 1px 1px 3px black;
}

.item__buy:hover {
    background-color: #333;
}

.item__buy__cart {
    font-size: .9em;
}

.item__buy__price {
    font-weight: bold;
}

.item__buy__price--old {
    text-decoration: line-through; /* on raye le prix dans la balise <del> */
    /*font-size: .9em;*/
    font-weight: normal; /* ça enlève le bold */
    margin: 0.3em;
}

.fixed-sales {
    position: fixed;
    left: 0;
    top: 50%;
    background-color: #c80000;
    color: white;
    text-transform: uppercase;
    width: 25px;
    padding: 15px 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    overflow-wrap: break-word; /* word-break: break-word à le même résultat */
    box-shadow: 1px 1px 3px black;
}

/* FOOTER */

footer {
    background-color: #666;
    text-align: center;
    color: white;
    font-size: .8em;
    padding: 1em;
}